@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&family=Bebas+Neue&family=Saira+Stencil+One&family=Inter:wght@400;500&family=Rubik:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

h1,
h2,
h3,
h4 {
  font-family: "Rubik", sans-serif;
}

button {
  font-family: "Rubik", sans-serif;
}

.bg-primary {
  background-color: #1c1c24;
}

.text-light {
  color: #ededed;
}

.text-medium {
  color: #706f6f;
}

.secondary-gradient {
  background: #136a8a;
  background: -webkit-linear-gradient(to right, #267871, #136a8a);
  background: linear-gradient(to right, #267871, #136a8a);
}

.crimson-gradient {
  background: #2b0000;
  background: -webkit-linear-gradient(to right, #800000, #2b0000);
  background: linear-gradient(to right, #800000, #2b0000);
}

.dark-inferno {
  background: #1a0000;
  background: -webkit-linear-gradient(to right, #e60000, #990000);
  background: linear-gradient(to right, #e60000, #990000);
}

.primary-gradient {
  background: #1c1c24;
  background: -webkit-linear-gradient(to right, #1c1c24, #33323d);
  background: linear-gradient(to right, #1c1c24, #0b1c1d);
}

.button-primary {
  background-color: #17635c;
}

.bg-red-500 {
  background-color: #ff3b3b;
}

.input {
  background-color: rgb(189, 188, 188);
}

.dark-input {
  background-color: oklch(0.37 0.01 285.81 / 1);
}

.action-text {
  background-color: oklch(70.7% .165 254.624);
}

.action-text:hover {
    text-decoration: underline;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-shake {
  animation: shake 0.5s;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #19413d transparent;
}


[role="tree"] > div {
  height: inherit !important; 
}

[role="tree"] {
  height: inherit !important;
}
