@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&family=Bebas+Neue&family=Saira+Stencil+One&family=Inter:wght@400;500&family=Rubik:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

h1,
h2,
h3,
h4,
p {
  font-family: "Rubik", sans-serif;
}

button {
  font-family: "Rubik", sans-serif;
}

.primary-gradient {
  background: #1c1c24;
  background: -webkit-linear-gradient(to right, #1c1c24, #33323d);
  background: linear-gradient(to right, #1c1c24, #0b1c1d);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #19413d transparent;
}

[role="tree"]>div {
  height: inherit !important;
}

[role="tree"] {
  height: inherit !important;
}