@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&family=Bebas+Neue&family=Saira+Stencil+One&family=Inter:wght@400;500&family=Rubik:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

h1,
h2,
h3,
h4,
p {
  font-family: "Rubik", sans-serif;
}

button {
  font-family: "Rubik", sans-serif;
}

.primary-gradient {
  background: #1c1c24;
  background: -webkit-linear-gradient(to right, #1c1c24, #33323d);
  background: linear-gradient(to right, #1c1c24, #0b1c1d);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #19413d transparent;
}

[role="tree"]>div {
  height: inherit !important;
}

[role="tree"] {
  height: inherit !important;
}

.rbc-row.rbc-time-header-cell {
  display: flex !important;
  flex: 1 !important;
  min-width: 0 !important;
}

.rbc-allday-cell {
  display: none !important;
}

.rbc-time-header {
  margin-right: 0 !important;
  border-color: #404040 !important;
}

.rbc-time-content {
  scrollbar-width: none !important;
}

.rbc-time-content {
  margin: 0 !important;
}

.rbc-header {
  border-bottom-width: 0px !important;
  background-color: #262626 !important;
  color: #b1b2b3 !important;
  border-color: #404040 !important;
}

.rbc-today {
  background-color: #333333 !important;
}

.rbc-timeslot-group {
  border-color: #404040 !important;
}

.rbc-current-time-indicator {
  background-color: #ef4444 !important;
  height: 2px !important;
}

.rbc-time-gutter {
  background-color: #262626 !important;
  color: #a3a3a3 !important;
}

.rbc-event {
  color: white !important;
}

.rbc-month-view,
.rbc-time-view {
  border-color: #404040 !important;
}

.rbc-time-header {
  border-color: #404040 !important;
}

.rbc-time-content {
  border-color: #404040 !important;
}

.rbc-time-content > * + * > * {
  border-left-color: #585858 !important;
}

.rbc-day-slot .rbc-time-slot {
  border-color: #474747 !important;
}

.rbc-calendar {
  background-color: #1a1a1a !important;
  color: #e5e7eb !important;
}